{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="contact-container">
    <h2>Contact Me!</h2>
    <p>I'd love to connect — feel free to reach out :)</p>
     <!-- Top images -->
     <div class="contact-images">
        <img src="{{ url_for('static', filename='photos/me.JPEG') }}" alt="You working" />
        <img src="{{ url_for('static', filename='photos/me1.JPG') }}" alt="You presenting" />
    </div>

    <div class="contact-info">
        <div class="email-row">
            <p><strong>Email:</strong> <a href="mailto:youremail@example.com">msl2229@columbia.edu</a></p>
            <button onclick="navigator.clipboard.writeText('msl2229@columbia.edu')">Copy</button>
        </div>
        
        <div class="email-row">
            <p><strong>Phone:</strong> <a href="tel:+1234567890">(917) 913-0599</a></p>
            <button onclick="navigator.clipboard.writeText('9179130599')">Copy</button>
        </div>
    
        <div class="contact-links">
            <a href="https://github.com/michellesynlee" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/michellesynlee" target="_blank">LinkedIn</a>
        </div>
    </div>
</div>

{% endblock %}