{% extends "base.html" %}
{% block title %}Home: My Portfolio{% endblock %}
{% block content %}

<div class="intro">
    <img src="{{ url_for('static', filename='headshot.jpg') }}" alt="Headshot" class="headshot">
    <div class="intro-text">
        <h1 style="font-size: 2rem;"> Hi, my name is Michelle Lee. Welcome to my portfolio! </h1>
        <p>I'm currently a rising senior at Columbia University majoring in Computer Science. 
            I love building projects (such as this website!) and learning more about AI and UX design. 
            As a Divison I student-athlete, I also help run the Instagram page for @columbia.vertical.jumps.
            In my free time I like to read, learn art/photography, and pole vault!</p>
        <p>Feel free to check out my page and/or contact me!</p>
        <div class="headshot-links">
            <a href="https://github.com/michellesynlee" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/michellesynlee" target="_blank">LinkedIn</a> 
            <a href="https://www.youtube.com/@MichelleSiyanLee" target="_blank">YouTube</a> 
            <a href="https://drive.google.com/file/d/1FQmgemEqYUVR7u4ymrWuqAo341AVp-Sg/view?usp=sharing" target="_blank">CV</a>

        </div>
    </div>
</div>

<hr>

<div class="projects-section">
    <div class="section-header">
        <h2 style="font-size: 3rem;">Current Projects</h2>
        <p>(Check out my completed projects in the projects page linked above!)</p>
    </div>
    <div class="project-single" style="display: flex; align-items: center; justify-content: center; gap: 2rem; flex-wrap: wrap; margin-top: 2rem;">
        <img src="{{ url_for('static', filename='UROP_website.png') }}" alt="UROP Website Project" style="max-width: 400px; width: 100%; height: auto; border-radius: 8px;">
        <p class="caption" style="max-width: 500px; font-size: 1.1rem;">
            Currently working on developing and iterating on a website for Columbia Irving Medical Center's Dr. Hiral Shah and Divya Palanisamy. The website serves as a medical/event resource hub and place of community for church members in Harlem and Washington Heights.
        </p>
    </div>
</div>

{% endblock %}