{% extends "base.html" %}
{% block title %}Home: My Portfolio{% endblock %}
{% block content %}

<div class="intro">
    <img src="{{ url_for('static', filename='headshot.jpg') }}" alt="Headshot" class="headshot">
    <div class="intro-text">
        <h1 style="font-size: 2rem;"> Hi, my name is Michelle Lee. Welcome to my portfolio! </h1>
        <p>
          I'm currently a senior at Columbia University majoring in Computer Science. 
          I love building data visuzalizations for fun and learning more about Web Development and Data Journalism. 
          I'm currently a Digital Humanities Intern at 
          <a href="https://incite.columbia.edu/" target="_blank">Incite Institute</a>, 
          where I work on data integration and presentation 
          for a few flagship projects including the 
          <a href="https://obamaoralhistory.columbia.edu/" target="_blank">
            Obama Presidency Oral History Project</a>.
          I also help create digital works for 
          <a href="https://www.theblueandwhite.org/" target="_blank">
            The Blue and White</a>, 
          a magazine at Columbia. 
          <br><br>
          As a Division I student-athlete, I also help run the Instagram page for 
          <a href="https://www.instagram.com/columbia.vertical.jumps" 
             target="_blank" 
             class="insta-link">
            @columbia.vertical.jumps
          </a>.
        </p>

        <p>
          Feel free to check out my page and/or <a href="{{ url_for('contact') }}" class="contact-link">contact me</a>!
        </p>

        <div class="headshot-links">
          <a href="https://github.com/michellesynlee" target="_blank"><strong>GitHub</strong></a>
          <a href="https://linkedin.com/in/michellesynlee" target="_blank"><strong>LinkedIn</strong></a> 
          <a href="https://www.youtube.com/@MichelleSiyanLee" target="_blank"><strong>YouTube</strong></a> 

          <!-- Direct downloadable PDF link -->
          <a href="{{ url_for('static', filename='2026resume.pdf') }}" 
            download 
            class="cv-link">
            Download CV
          </a>
        </div>
    </div>

    <div class="quick links">
      <div></div>
      
    </div>
</div>

<hr>


{% endblock %}