{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="completed-projects-section">
    <h2 style="text-align: center;">My Completed Projects</h2>
    <div class="project-gallery">
        <div class="project">
            <img src="{{ url_for('static', filename='llmmaze.png') }}" alt="llm project">
            <p class="caption">
                3DUI & AR Group Project: Using voice commands and LLMs in Oculus Quest 2 headset to support navigating from start to exit in a VR maze in Unity</p>
                <a href="https://docs.google.com/presentation/d/1bCrMDPvRn_Z1CsftvZMcsmSgtWHIZ2YxB4b-kjzt_BE/edit?usp=sharing" target="_blank">Click to see final project/demo</a> <br>
        </div>
                <div class="project">
            <img src="{{ url_for('static', filename='h4d-figma.png') }}" alt="maze project">
            <p class="caption">
                helped with designing and implementing this <strong>Figma prototype</strong> for my current course 
                <em>Hacking 4 Defense</em>, where my team is building a web application to streamline the driver licensing 
                process for members of the <strong>National Guard</strong>.
                <br> 
                From there, we built an MVP Military License Assistant to address key bottlenecks and readiness challenges,
                and submitted a policy proposal picked up by the Adjutant General and presented work that drew 
                interest from the National Guard Bureau’s J84 Innovation Branch.
            </p>
        </div>
        <div class="project">
            <img src="{{ url_for('static', filename='maze.png') }}" alt="maze project">
            <p class="caption">
                3DUI & AR Individual Project: Used Unity to build a mobile tilt-based ball-rolling game with levels, collectibles, victory screens, etc.</p>
            <a href="https://www.youtube.com/shorts/qQVhkKSQeQs" target="_blank">Click to watch demo</a> <br>
        </div>

        <!-- Add more projects as needed  -->
    </div>
</div>
{% endblock %}